body {
	background-color: #fc9;
}

.roman {
	display: inline-block;
}

#card {
	min-height: 320px;

}


.ui.menu {
	background-color: #fc9;
}


.ui.huge.button {
	width: 75%;
	min-width: 320px;
	font-size: 55px;
	line-height: 72px;
	padding-top: 32px;
	padding-left: 20%;
	padding-right: 20%;
}

select {
	min-height: 40px;
	line-height: 24px;
	font-size: 24px;

	margin-left: 25px;
}

.math,.note {	
	display: block;
	width: 100%;
	min-width: 200px;
	text-align: right;
}

.math {
}

.note {
	color: #c33;
	position: relative;
	right: 28px;
	font-size: 80%;
}

.mid {
	color: #c33;	
}


@media only screen and (max-width : 480px) {
	.noPhone {
		display: none;
	}
} 